/*responsive.scss*/
@media only screen and (max-width: 1280px) { .wPageAbout .wRowCol .rCol .customTitle { font-size: 45px; line-height: 45px; }
  .pageService .wRowCol .rCol .tit { font-size: 36px; } }

@media only screen and (max-width: 1140px) { .headerPhone { width: 35%; margin: 12px 0 0 4%; }
  .headerPhone li { padding: 0 1%; }
  .lcol { width: 60%; } }

@media only screen and (max-width: 1060px) { .section_incut .middle_block .wrapper_colum .col { margin: 0 0.85%; } }

@media only screen and (max-width: 1050px) { .wCarousel .prev { left: 0%; }
  .wCarousel .next { right: 0%; } }

@media only screen and (max-width: 1024px) { .wSliderItems:after, .wIndexAbout .wLeft, .wMap:before, .wPageAbout .wRowCol .lCol, .step_one:after, .step_one:before, .step_three:after, .step_three:before { display: none; }
  .wSliderIn { max-height: 100%; }
  .wSliderIn ul li { height: 100vh; min-height: 611px; max-height: 760px; }
  .sliderThumbnail li .name { font-size: 15px; line-height: 22px; }
  .sliderThumbnail { bottom: 11%; }
  .wSliderIn .inner { padding: 9% 0 0; }
  .wSliderIn .tit.big { font-size: 60px; line-height: 70px; max-height: 144px; }
  .wrItemChoose .item { width: 31%; margin: 0 2% 0 0; }
  .customTitle { font-size: 45px; line-height: 55px; padding: 33px 0; }
  .customTitle .svgHolder { height: 100px; width: 84px; top: 16%; }
  .wrIndexNews { min-height: 650px; }
  .wrIndexNews .wSize { padding-top: 77px; }
  .chooseIndex { padding: 10px 0 0px; }
  .wrIndexNews .wItemNews .item { width: 33%; min-width: 317px; padding: 10px; }
  .wrIndexNews .wItemNews .item:nth-child(2) { margin: 0; }
  .wrIndexNews .wItemNews .item .top .link a { font-size: 16px; line-height: 20px; }
  .wrIndexNews .wItemNews .item .top .date span { font-size: 50px; line-height: 50px; }
  .wrIndexNews .wLinkArchive { padding: 0 0 77px; }
  .wStockIndex .wrCol .lCol p:first-child { max-height: 62px; font-size: 50px; }
  .wStockIndex .wrCol .lCol p:last-child { font-size: 37px; max-height: 45px; }
  .wStockIndex { min-height: 555px; }
  .wStockIndex .wrCol .rCol .price { font-size: 92px; line-height: 92px; }
  .wStockIndex .wrCol .rCol .priceMark span { font-size: 25px; }
  .wStockIndex .wrCol .rCol .priceMark span:first-child:after { width: 50%; }
  .wIndexContact .wCol .ttl, .wPageContatcs .wrapCol .ttl { font-size: 24px; }
  .wIndexAbout .wRight .selectTxt { padding: 10px 0; margin: 0 0 10px; }
  .wIndexAbout .wRight { padding-right: 2.5%; width: 100%; }
  .wIndexAbout .wRight .innerRight { max-width: 100%; }
  .wIndexAbout .wRight .selectTxt { font-size: 19px; line-height: 25px; }
  .wIndexAbout .wRight .selectTxt { padding: 10px; margin: 0 0 10px; border: 1px solid #ff8400; }
  .wIndexAbout .wRight .selectTxt:before { display: none; }
  .wrNews .item .leftCol + .rightCol { padding-top: 1%; }
  .wPageAbout .wRowCol { height: auto; }
  .wPageAbout .wRowCol .rCol { width: 100%; }
  .wPageAbout .wRowCol .rCol .innerRight { max-width: 100%; }
  .wPageAbout .wRowCol .rCol .selectTxt { font-size: 18px; line-height: 20px; padding: 15px 0; margin: 0; }
  .wPageAbout .wRowCol .rCol .selectTxt:before { left: -1%; width: 100%; }
  .wCarousel:before, .wCarousel:after { display: none; }
  .figure1 .lCol:after, .figure1 .rCol:after, .figure2 .lCol:after, .figure2 .rCol:after, .figure3 .lCol:after, .figure3 .rCol:after, .figure4 .lCol:after, .figure4 .rCol:after, .figure5 .lCol:after, .figure5 .rCol:after { display: none; }
  .pageService .wRowCol .lCol { display: none !important; }
  .pageService .wRowCol .rCol { width: 100%; float: none; padding: 0 7px; min-height: 300px; height: auto; margin: 0 0 30px; }
  .pageService .wRowCol:nth-child(2n+2) .rCol { width: 100%; float: none; text-align: left; padding: 0 7px; }
  .pageService .wRowCol .rCol .tit { padding: 20px 1%; margin: 0 0 20px; border: 1px solid #ff8400; width: 97.8%; text-align: center; }
  .pageService .wRowCol:nth-child(2n+2) .rCol .tit { margin: 0 0 20px; }
  .pageService .wRowCol .rCol .txtBlock { width: 100%; max-width: 100%; }
  .pageService .wRowCol:nth-child(2n+2) .rCol .txtBlock { text-align: left; }
  .headerSection .headBlock .lcol .txt, .insert_block .headBlock .lcol p { font-size: 18px; line-height: 28px; }
  .headerSection .headBlock .rcol section, .insert_block .headBlock .rcol section { font-size: 11px; }
  .headerSection { min-height: 710px; }
  .sectionTwo { min-height: 654px; padding-top: 69px; }
  .section_two .col_section .left_col { width: 34%; }
  .section_two .col_section .right_col { width: 65%; }
  .section_two .title_section { font-size: 30px; }
  .section_step .right_col ul li:after { width: 27px; height: 18px; }
  .section_step .right_col ul li { font-size: 16px; line-height: 31px; padding: 0 0 0 41px; }
  .section_step .left_col .top_block .l_block { width: 16%; margin: 0 4% 0 0; }
  .section_step .left_col .top_block .r_block { font-size: 24px; width: 78%; }
  .step_one { padding: 35px 0; }
  .step_two { padding: 35px 0 20px; }
  .step_three, .step_four { padding-top: 35px; }
  .section_step .left_col .bottom_block .wImg { padding: 0 0 1px; }
  .section_step .sign_section { position: static; font-size: 21px; padding: 14px 4%; }
  .section_incut { padding-top: 50px; }
  .section_incut .customTitle { padding-bottom: 17px; }
  .section_incut .top_block .description .number { font-size: 33px; }
  .section_incut .top_block .description p { font-size: 16px; line-height: 21px; }
  .section_incut .top_block .description small { font-size: 13px; line-height: 20px; max-height: 59px; }
  .section_incut .top_block .icon { width: 18%; margin-right: 6%; }
  .section_incut .top_block { padding-bottom: 25px; }
  .section_incut .middle_block .wrapper_colum { padding: 28px 0; }
  .section_incut .middle_block .wrapper_colum .col { margin-bottom: 10px; }
  .sub_title { font-size: 25px; line-height: 39px; }
  .section_incut { padding-bottom: 88px; min-height: 600px; }
  .section_form .title_section_form { font-size: 30px; }
  .sectionOne .select_txt { font-size: 21px; line-height: 28px; }
  .sectionSix { margin-top: 40px; margin-bottom: 59px; }
  .insert_block .headTit { font-size: 28px; line-height: 40px; }
  .sectionFive { min-height: 420px; padding-bottom: 80px; }
  .sectionTerm .term { font-size: 30px; line-height: 38px; padding: 0px 0; }
  .sectionFour .wrapper_colum { margin: 0px; }
  .sectionFour .sign_section { margin: 10px 0 20px; padding: 17px 4%; font-size: 20px; }
  .sectionFour { padding: 0px 0 40px; } }

@media only screen and (max-width: 980px) { .wHeader { display: none; }
  .mobailHeader { display: block; }
  .wContainer, .indexPage .wContainer { padding: 45px 0 101px 0; }
  .wrItemChoose .item .name { font-size: 22px; margin-bottom: 2%; } }

@media only screen and (max-width: 960px) { .mfp-close { right: 0px; }
  .sectionOne .wrapper_colum .col { width: 32%; margin-right: 0; }
  .sectionOne .wrapper_colum .col p { font-size: 22px; line-height: 28px; }
  .sectionOne .wrapper_colum .col span { font-size: 15px; line-height: 18px; } }

@media only screen and (max-width: 920px) { .formContact .wForm label.error { font-size: 10px; } }

@media only screen and (max-width: 900px) { .section_step .right_col ul li { font-size: 15px; line-height: 26px; } }

@media only screen and (max-width: 800px) { .wrNews .item .leftCol { width: 42%; }
  .wrNews .item .leftCol + .rightCol { width: 56%; padding-right: 0; }
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
  .headerSection .headBlock .rcol, .insert_block .headBlock .rcol { width: 40%; }
  .headerSection .headBlock .lcol .txt, .insert_block .headBlock .lcol p { font-size: 15px; line-height: 25px; } }

@media only screen and (max-width: 780px) { .wStockIndex .wrCol .lCol { margin: 0 0 20px; }
  .wStockIndex .wrCol .lCol, .wStockIndex .wrCol .rCol { width: 100%; text-align: center; }
  .wStockIndex .wrCol .lCol p:first-child { max-height: 44px; font-size: 35px; }
  .wStockIndex .wrCol .lCol p:last-child { font-size: 23px; max-height: 28px; }
  .wStockIndex .wrCol .rCol .price { font-size: 66px; line-height: 66px; }
  .wStockIndex .wrCol .rCol .priceMark { width: 13.4567%; min-width: 103px; }
  .section_incut .top_block .description { width: 74%; }
  .section_incut .top_block .l_col, .section_incut .top_block .r_col { width: 50%; }
  ul.custom_list li { font-size: 17px; line-height: 31px; }
  .titleCustomSmall { font-size: 28px; line-height: 36px; padding: 55px 0 30px; } }

@media only screen and (max-width: 780px) { .wIndexContact .wCol .l_col, .wIndexContact .wCol .r_col { width: 100%; }
  .wIndexContact .wCol .l_col { margin-bottom: 20px; }
  .wIndexContact .innerCol .col_1, .wIndexContact .innerCol .col_2 { width: 50%; } }

@media only screen and (max-width: 720px) { .formStyle .titleForm { font-size: 28px; }
  .formStyle .lCol, .formStyle .rCol { width: 49%; }
  .wSliderIn .tit.big { font-size: 40px; line-height: 54px; max-height: 158px; }
  .sliderThumbnail li .name { font-size: 12px; line-height: 16px; }
  .customTitle { font-size: 33px; line-height: 37px; padding: 23px 0; }
  .customTitle .svgHolder { height: 63px; width: 53px; }
  .wrItemChoose .item .desc { font-size: 13px; line-height: 17px; }
  .wrItemChoose .item > img { height: 94px; }
  .wrItemChoose .item .name { font-size: 17px; }
  .breadcrumbs { margin-top: 0px; }
  .wPageContatcs .lCol, .wPageContatcs .rCol { float: none; width: 100%; }
  .wPageContatcs .lCol { margin-bottom: 20px; }
  .wErrorContent .errorTit { font-size: 150px; }
  .wCarousel .titCarousel { padding-bottom: 20px; }
  .wCarousel .titCarousel { font-size: 28px; }
  .wPageAbout .wrTxtRow .col { width: 100%; margin: 10px 0; }
  .wPageAbout .wrTxtRow { margin-bottom: 4%; }
  .wPageAbout .wRowCol .rCol .customTitle { font-size: 30px; }
  .pageService .wRowCol .rCol .tit { font-size: 22px; }
  .section_two .col_section .right_col .sign_shem { font-size: 19px; line-height: 19px; margin-top: 0px; padding: 20px 0; }
  .section_two .title_section { font-size: 24px; }
  .section_step .right_col ul li { line-height: 20px; }
  .section_step .left_col .top_block .r_block { font-size: 19px; padding: 0; }
  .section_form .wrapper_form .left_col:before { display: none; }
  .section_form .wrapper_form .left_col, .section_form .wrapper_form .right_col { width: 49%; }
  .sectionOne .wrapper_colum { padding-bottom: 27px; }
  .sectionOne .select_txt { font-size: 16px; line-height: 22px; }
  .headerSection .bottomBlock .col .b_right p { font-size: 13px; line-height: 20px; } }

@media only screen and (max-width: 680px) { .wFooterIn .col_2 { display: none; }
  .wFooterIn .col_1, .wFooterIn .col_3 { width: 100%; text-align: center !important; }
  .wFooterIn .col_3 { margin: 7px 0 0; }
  .wContainer, .indexPage .wContainer { padding: 45px 0 75px 0; }
  .wFooter { margin: -75px auto 0; height: 75px; }
  .wFooterIn { padding: 1.7% 0 0; }
  .sectionTerm .term { font-size: 23px; } }

@media only screen and (max-width: 600px) { .formStyle .lCol, .formStyle .rCol { width: 100%; float: none; }
  .formStyle .lCol .wFormRow:last-child, .formStyle .wFormRow { margin: 0 0 15px; }
  .wForm label.error { font-size: 10px; }
  .placeHold { font-size: 14px; top: 7px; }
  .wFormRow input { height: 35px; }
  .formStyle .wrCol { margin: 1% 0 5%; }
  .custBtn { padding: 12px 0; }
  .wSliderIn .inner { padding: 16% 0 0; }
  .wMap #map { height: 450px; }
  .wrNews .item .leftCol { width: 63%; float: none; min-width: 300px; }
  .wrNews .item .date:before { left: 0%; width: 100%; }
  .wrNews .item .date { padding-left: 4%; margin-bottom: 20px; }
  .wrNews .item .date .num { line-height: 48px; }
  .wrNews .item .leftCol + .rightCol { width: 100%; }
  .headerSection .headBlock .lcol, .headerSection .headBlock .rcol, .insert_block .headBlock .lcol, .insert_block .headBlock .rcol { float: none; width: 100%; }
  .headerSection .headBlock .lcol, .insert_block .headBlock .lcol { margin-bottom: 10px; }
  .headerSection .headBlock .lcol .txt, .insert_block .headBlock .lcol .txt { font-size: 14px; line-height: 20px; max-height: 180px; }
  .headerSection .headBlock .rcol section, .insert_block .headBlock .rcol section { padding-bottom: 15px; }
  .headerSection .headBlock .rcol section .center_block .right, .insert_block .headBlock .rcol section .center_block .right { line-height: 78px; font-size: 8.429em; }
  .headerSection .bottomBlock { padding: 0px 0 120px; }
  .insert_block .bottomBlock { padding: 0px 0 120px; text-align: center; }
  .insert_block .bottomBlock .col { margin-bottom: 10px; }
  .insert_block .bottomBlock .col > div { text-align: left; }
  .section_two .col_section .right_col { width: 57%; }
  .section_two .col_section .left_col { width: 42%; }
  .section_step .left_col .bottom_block { display: none; }
  .section_step .right_col, .section_step .left_col { width: 100%; }
  .section_step .left_col .top_block .r_block, .section_step .left_col .top_block .l_block { vertical-align: middle; }
  .section_incut .top_block .l_col, .section_incut .top_block .r_col { width: 100%; }
  .section_incut .top_block .l_col { margin-bottom: 20px; }
  .section_incut .top_block .icon { width: 15%; }
  .section_incut .top_block .r_col .number, .section_incut .top_block .description p { margin: 4px 0 0; }
  .section_form .title_section_form { font-size: 23px; line-height: 31px; padding-bottom: 20px; }
  .section_form .wrapper_form .left_col, .section_form .wrapper_form .right_col { width: 100%; }
  .section_form .wrapper_form .wFormRow { margin: 16px 0; }
  .section_form .wrapper_form .name_col { margin-bottom: 17px; }
  .section_form .wrapper_form .sign_form { font-size: 19px; line-height: 27px; padding: 14px 4%; }
  .labelCheck { display: block; }
  .insert_block .headTit { font-size: 22px; line-height: 30px; }
  .sectionFive { padding: 66px 0 57px; }
  .row_colum .left_col, .sectionFour .wrapper_colum .right_col { display: none; }
  .sectionFour .wrapper_colum .left_col, .row_colum .right_col { width: 100%; }
  .sectionFour .wrapper_colum .left_col .link_out { margin: 0 1% 0 0; }
  .row_colum:nth-child(3) .right_col { padding: 0% 0 0; }
  .formStyle .mfp-close {
    right: 6px;
    top: 6px;
  }
  .formStyle .mfp-close:active {
    top: 7px;
  }
  .formStyle .mfp-close svg {
    fill: #000;
  }
}

@media only screen and (max-width: 500px) { .section_two .col_section .right_col { width: 100%; }
  .section_two .col_section .left_col { width: 100%; }
  .section_two .shem_steps { max-width: 100%; }
  .sectionOne { margin-bottom: -9px; }
  .sectionOne .wrapper_colum .col p { font-size: 14px; line-height: 21px; }
  .sectionOne .wrapper_colum .col span { font-size: 12px; } }

@media only screen and (max-width: 480px) { .formStyle .titleForm { font-size: 24px; }
  .wSliderIn .tit.big { font-size: 29px; line-height: 39px; }
  .wSliderIn .tit.small { font-size: 23px; }
  .wSliderIn ul li { min-height: 500px; }
  .wrLinkMore a { font-size: 15px; line-height: 39px; width: 150px; }
  .wrItemChoose .item { width: 100%; margin-bottom: 15px; }
  .wrIndexNews .wItemNews { padding: 15px 0; }
  .wStockIndex { min-height: 500px; }
  .wErrorContent .errorTit { font-size: 100px; }
  .section_step .sign_section { font-size: 18px; padding: 0px 4%; }
  .sub_title { font-size: 20px; line-height: 27px; }
  ul.custom_list li { margin: 0 0 3%; font-size: 16px; }
  .sectionTerm { margin: 60px auto 60px; }
  .headerSection .bottomBlock { display: block; text-align: center; }
  .headerSection .bottomBlock .col { width: 80%; margin: 0 0 10px; } }

@media only screen and (max-width: 440px) { .customTitle { font-size: 27px; line-height: 28px; padding: 20px 0; }
  .customTitle .svgHolder { height: 53px; }
  .wPageAbout .wrTxtRow .col .l-col { float: none; width: 100%; text-align: center; }
  .wPageAbout .wrTxtRow .col .r-col { float: none; width: 100%; padding: 0 4% 0; }
  .wPageAbout .wRowCol .rCol .customTitle, .wCarousel .titCarousel { font-size: 25px; }
  .headerSection .bottomBlock .col, .insert_block .bottomBlock .col { width: 100%; }
  .titleCustomSmall { font-size: 24px; }
  .formPayment { padding: 15px; } }

@media only screen and (max-width: 400px) { .section_form .wrapper_form .sign_form { font-size: 16px; } }

@media only screen and (max-width: 380px) { .sliderThumbnail li .name { font-size: 9px; line-height: 11px; }
  .wIndexContact .innerCol .col_1, .wIndexContact .innerCol .col_2 { width: 100%; }
  .wIndexContact .wCol .l_col { text-align: center; }
  .wIndexContact .formContact .wFormRow:nth-child(1), .wIndexContact .formContact .wFormRow:nth-child(2), .wPageContatcs .formContact .wFormRow:nth-child(1), .wPageContatcs .formContact .wFormRow:nth-child(2) { float: none; width: 100%; }
  .wIndexContact .formContact .wFormRow:last-child, .wPageContatcs .formContact .wFormRow:last-child { text-align: center; }
  .section_incut .top_block .description p { font-size: 15px; } }

/*# sourceMappingURL=maps/responsive.css.map */
